@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css");

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    overflow: hidden;
}

/*Estilos para la vista de baja asignaciones*/

.contenedor-principal-ba{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.section-asign {
    width: 75%;
    height: 93%;
    margin: auto;
    border-bottom: 1px solid rgb(165, 165, 165);
    border-top: 1px solid #b5b0b0;
    border-left: 1px solid #b5b0b0;
    border-right: 1px solid #b5b0b0;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 10px 14px 2px #b5b0b0;
}


.cabecera-asign{
    display: flex;
    justify-content: space-between;
    margin: 30px;
}
.cabecera-asign h1{
    text-decoration: none;
    user-select: none;
    font-size: 22px;
    font-weight: 500;
    color: #7a7a78;
}

.botonCerrar-ba{   
    width: 45px;height: 32px;
    background-color: rgb(248, 86, 86);
    border: 1px solid #a7a79b;
    color: white;
    font-weight: 600;
    border-radius: 16px;
    transition: .4s;
    text-align: center;
}

.botonCerrar-ba:hover{
    background-color: transparent;
    color: black;
    font-weight: bold;
}

.baja-asign{
    display: flex;
    justify-content: center;
}

.user-fieldset{
    margin-right: 22px;
}


.user-fieldset fieldset{
    border: 2px solid #b5b0b0  !important;
    border-radius: 10px;
    width: 305px;
    height: 240px;
}

.user-fieldset legend{
    font-size: 18px !important;
    width: fit-content;
    margin-left: 10px !important;
}

.ba-user-search{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-fieldset fieldset select{
    padding: 9px 24px;
    border-radius: 10px;
    text-align: justify;
    font-size: 16px;
    outline: none;
}

.user-fieldset fieldset input{
    text-align: center;
    padding: 7px 3px;
    font-size: 16px;
    border-radius: 10px;
    margin: auto;
    outline: none;
    border: 1px solid #1a1515;
    margin-top: 28px;
}

.user-fieldset fieldset input::placeholder{
    text-align: center;
}

#ba-user-input{
    text-transform: uppercase;
}

#ba-user-input::placeholder{
    text-transform: none;
}

.errores{
    display: none;
    font-size: 14px;
    position: absolute;
    padding: 10px;
    background-color: aquamarine;
    margin-left: 20px;
}

.btn-snunoe {
    text-decoration: none;
    outline: none;
    padding: 7px 17px;
    margin-top: 25px;
    border-radius: 18px;
    border: none;
    background: white;
    box-shadow: 1px 3px 8px 3px #b5b0b0;
    transition: .4s;
}
.btn-snunoe:hover{
    outline: none;
    background-color: rgb(110 187 231 / 58%);
}

.btn-snunoe i{
    font-size: 24px;
}

.btn-snunoe i svg{
    height: 25px;
    width: 28px;
}

.btn-snunoe i:hover{
    color: #1a1515;
}

.user-details-ba{
    margin-left: 22px;
}

.user-details-ba fieldset{
    width: 495px;
    height: 240px;
    border: 2px solid #b5b0b0;
    border-radius: 10px;
}

.user-details-ba legend{
    font-size: 18px;
    width: fit-content;
    margin-left: 10px;
}

.info-ba{
    display: flex;
    justify-content: space-between;
    height: 180px;
}

.info-ba-img{
    width: 40%;
    margin-left: 25px;
}

.info-ba-img img{
    width: 85%;
    height: 98%;
    border-radius: 20px;
}

.ba-labels{
    display: grid;
    text-align: end;
    font-weight: 600;
    align-content: space-evenly;
    user-select: none;
}
.ba-labels label{
    font-size: 15px;
    padding: 3px 20px;
    margin: 2px;
    text-transform: uppercase;
    position: relative;
    bottom: 8px;
    right: 10px;
}

.mt-label{
    margin-top: 6px !important;
}

.baja-asign-table{
    display: flex;
    justify-content: center;
    margin-top: 18px;
}

.ba-assigned{
    margin: auto;
}

.ba-assigned fieldset{
    height: 250px;
    width: 850px;
    border: 2px solid #b5b0b0;
    border-radius: 10px;
}

.ba-assigned fieldset legend{
    margin-left: 10px;
    font-size: 18px;
    width: fit-content;
}

.ba-assigned fieldset table{
    border-collapse: collapse;
    width: 100%;
    margin: auto;
    border-right: 2px solid #f9fafb;
    border-left: 2px solid #f9fafb;
    user-select: none;
}
.ba-assigned fieldset table thead{
    display: block;
}

.ba-assigned fieldset table tbody{
    display: block;
    height: 144px;
    overflow-y: auto;
}

.ba-assigned fieldset table th{
    width: 14%;
    background-color: rgb(110 187 231 / 58%);
    color: black;
    padding: 9px 15px;
    
}

.ba-assigned fieldset table td{
    width: 14.5%;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 9px;
    padding-bottom: 9px;
}

.ic-tba{
    width: 18px;
    height: 18px;
}

.ba-area-tb{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.ba-text-area{
    margin-right: 286px;
    margin-bottom: 15px;
}

.ba-text-area textarea{
    width: 500px;
    height: 185px;
    padding: 20px;
    border-radius: 10px;
    outline: none;
    border: 1px solid #b5b0b0;
    box-shadow: 0px 8px 13px 3px #9b9090;
    font-size: 17px;
}

#textarea-ba-notes::placeholder{
    font-size: 18px;

}

.btn-ba-guardar{
    position: relative;
    top: 60px;
    right: 250px;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#ba-btn-save{
    padding: 7px 17px;
    border-radius: 18px;
    border: none;
    background-color: white;
    box-shadow: 1px 3px 8px 3px #b5b0b0;
    transition: .4s;
}

#ba-btn-save:hover{
    background-color: rgb(110 187 231 / 58%);
}

/*Estilos para Surface Pro 7*/

@media screen and (max-width:1863px){
    .section-asign{
        width: 90%;
        height: 93.5%;
    }
    .user-fieldset{
        margin-right: 18px;
    }

    .user-details-ba{
        margin-left: 18px;
    }

    .user-fieldset fieldset{
        width: 305px;
    }

    .user-details-ba fieldset{
        width: 500px;
    }

    .ba-assigned fieldset{
        width: 850px;
    }

    .ba-text-area{
        margin-right: 285px;
    }

    .btn-ba-guardar{
        right: 242px !important;
    }
}

/*Estilos para Tablet vertical*/

@media screen and (max-width:912px) {
    .section-asign{
        width: 95% !important;
    }

    .user-fieldset fieldset{
        width: 260px;
    }

    .user-details-ba fieldset{
        width: 360px;
    }

    .info-ba-img {
        margin-top: 10px;
    }

    .ba-assigned fieldset{
        width: 660px;
    }

    .ba-assigned fieldset table th{
        padding-right: 0;
    }

    .ba-text-area {
        margin-right: 190px !important;
    }
    .ba-text-area textarea{
        width: 400px !important;
    }

    .btn-ba-guardar{
        right: 155px !important;
    }
}

/* Estilos responsivos para ipad Mini */
@media screen and (max-width:1200px) {

    .section-asign{
        width: 95% !important;
    }

    .ba-text-area{
        margin-right: 336px;
    }
    .ba-text-area textarea{
        width: 450px;
    }

    .btn-ba-guardar{
        right: 292px ;
    }
    
}