
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/*Baja Prestamos*/

.contenedor-principal-dp{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-dp{
    width: 65%;
    height: 94%;
    margin: auto;
    border-bottom: 1px solid rgb(165, 165, 165);
    border-top: 1px solid #b5b0b0;
    border-left: 1px solid #b5b0b0;
    border-right: 1px solid #b5b0b0;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 10px 14px 2px #b5b0b0;
}

.cabecera-dp{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}

.cabecera-dp h1{
    text-decoration: none;
    user-select:none;
    font-size: 22px;
    font-weight: 500;
    color: #7a7a78;
}

.botonCerrar-dp{
    padding: 4px 16px;
    background-color: rgb(248, 86, 86);
    color: white;
    border: 1px solid #a7a79b;
    border-radius: 16px;
    transition: .4s;
    font-weight: 600;
}

.botonCerrar-dp:hover{
    background-color: transparent;
    color: black;
}

.devolucion-prestamos{
    display: flex;
    justify-content: center;
}

.fieldset-dp-us{
    margin-right: 20px;
}

.fieldset-dp-us fieldset{
    border: 2px solid #b5b0b0;
    border-radius: 10px;
    width: 300px;
    height: 240px;
}

.fieldset-dp-us fieldset legend{
    width: fit-content;
    margin-left: 10px !important;
    font-size: 18px;
    user-select: none;
}

.dp-user-search{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dp-user-search select{
    width: 200px;
    padding: 10px 15px;
    border-radius: 16px;
    text-align: justify;
    outline: none;
    font-size: 16px;
    
}

.dp-user-search input{
    width: 200px;
    text-align: center;
    padding: 7px 5px;
    border-radius: 16px;
    outline: none;
    border: 1px solid #1a1515;
    font-size: 16px;
    margin-top: 26px;
    text-transform: uppercase;
}

.dp-user-search input::placeholder{
    text-transform: none;
}

.dp-user-search #btn-dp-us{
    display: flex;
    align-items: center;
    text-decoration: none;
    outline: none;
    padding: 7px 17px;
    margin-top: 25px;
    border-radius: 18px;
    border: none;
    background-color: white;
    box-shadow: 1px 3px 8px 3px #b5b0b0;
    transition: .4s;
}

#btn-dp-us:hover{
    border:none;
    outline: none;
    background-color: rgb(110 187 231 / 58%);

}

.fieldset-dp-ud{
    margin-left: 20px;
}

.fieldset-dp-ud fieldset{
    width: 500px;
    height: 240px;
    border: 2px solid #b5b0b0;
    border-radius: 10px;

}

.fieldset-dp-ud fieldset legend{
    font-size: 18px;
    width: fit-content;
    margin-left: 10px !important;
    user-select: none;
}

.info-dp{
    display: flex;
    justify-content: space-between;
    height: 180px;
}

.info-dp-img{
    width: 40%;
    margin-left: 25px;
}

.info-dp-img img{
    width: 85%;
    height: 98%;
    border-radius: 20px;
}

.labels-dp{
    display: grid;
    align-content: space-evenly;
    text-align: end;
    font-weight: 600;
}

.labels-dp label{
    font-size: 15px;
    text-transform: uppercase;
    padding: 3px 20px;
    user-select: none;
    margin: 2px;
    position: relative;
    bottom: 8px;
    right: 8px;;
}

.devolucion-prestamo-table{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.dp-table{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
}

.dp-table fieldset{
    width: 848px;
    height: 250px;
    border: 2px solid #b5b0b0;
    border-radius: 10px;
    position: relative;
}

.dp-table fieldset legend{
    font-size: 18px !important;
    width: fit-content;
    margin-left: 10px !important;
    user-select: none;
}

/*Modificacion de tabla*/
.dp-table table{
    border-collapse: collapse;
    width: 100%;
    margin: auto;
    border-right: 2px solid #f9fafb;
    border-left: 2px solid #f9fafb;
    user-select: none;
}

/*Estilos para el thead y el tbody*/
.dp-table table thead {
    display: block;
}

.dp-table table tbody{
    display: block;
    height: 150px;
    overflow-y: auto;
}

.dp-table table th{
    background-color: rgb(110 187 231 / 58%);
    color: black;
    padding: 10px 32px;
}

/*ESTILOS PARA TR DE LAS TABLA*/

#table-dp-prestamos tr{
    transition: 0.3s;
    display: table;
    width: 100%;
}

#table-dp-prestamos tr:hover{
    background-color: rgba(0, 0, 0, 0.075);
}

/*ESTILOS PARA EL MENSAJE DEL TR*/
.msg-folio{
    width: 140px;
    height: 60px;
    position: absolute;
    left: -140px;
    top: 22%;
    background-color: #fff;
    border-top-left-radius: 40px 40px;
    padding: 6px 16px;
    border: 1px solid #86acc1;
}

.msg-folio span{
    font-size: 12px;
    user-select: none;
}

/*Clase para  th vacio*/
.w-17{
    width: 17% !important;
}

 /*Clase para description*/
.pr-20{
    padding-right: 20px !important;
}


.dp-table table td{
    padding-left: 34px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}


.btn-dp-quitar{
    text-decoration: none;
    padding: 3px 6px;
    border: 1px solid rgb(36 31 31 / 65%);
    background-color: transparent;
    color: #1a1515;
    border-radius: 10px;
    transition: .4s;
    font-size: 15px;
}

.btn-dp-quitar:hover{
    background-color: rgb(110 187 231 / 60%);
    border: 1px solid white;
}

.textarea-btn-dp{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.text-area-dp{
    margin-right: 264px;
}

.text-area-dp textarea{
    width: 500px;
    height: 185px;
    padding: 20px;
    border-radius: 10px;
    outline: none;
    border: 1px solid #b5b0b0;
    box-shadow: 0px 8px 13px 3px #9b9090;
    font-size: 17px;
}

#textarea-dp-mb::placeholder{
    font-size: 17px;
    
}

.btn-save-dp{
    display: flex;
    align-items: center;
    margin-left: 16px;
    position: relative;
    right: 238px;
}

.btn-save-dp button{
    padding: 7px 17px;
    border-radius: 18px;
    border: none;
    background-color: white;
    box-shadow: 1px 3px 8px 3px #b5b0b0;
    transition: .4s;
}

#btn-dp-mb:hover{
    background-color: rgb(110 187 231 / 58%);
}

@media screen and (max-width:1600px) {
    .section-dp{
        width: 80%;
    }
    
}

/*Estilos responsivos Surface Pro 7*/
@media screen and (max-width:1368px) {
    .section-dp{
        width: 93%;
        height: 93.5%;
    }
    
}

@media screen and (max-width:912px), screen and (orientation: portrait) {
    .section-dp{
        width: 95% !important;
    }

    .fieldset-dp-us fieldset{
        width: 260px !important;
    }

    .fieldset-dp-ud fieldset{
        width: 360px !important;
    }

    .dp-table fieldset{
        width: 660px;
    }

    .dp-table table td{
        padding-left: 10px;
    }

    .btn-dp-quitar{
        padding: 2px 6px;
    }

    .labels-dp{
        margin: 0;
        margin-top: 10px;
        align-content: stretch;
    }
    
    .text-area-dp{
        margin-right: 85px !important;
    }
    .btn-save-dp{
        position: relative;
        right: 70px !important;
    }
    .dp-table table th{
        padding: 10px 23px;
    }

}