
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.contenedor-principal-prestamos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    
}
.section-prestamos{
    width: 90%;
    height: 92vh;
    margin: auto;
    border: 1px solid #b5b0b0;
    border-radius: 16px;
    background-color: #fff;
    box-shadow: 0px 10px 14px 2px #b5b0b0;
}

.cabecera-pres{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    margin-bottom: 8px;
}

.cabecera-pres h1{
    text-decoration: none;
    user-select: none;
    font-size: 22px;
    font-weight: 500;
    color: #7a7a78;
}

.botonCerrar-pn{   
    padding: 5px 16px;
    background-color: #f85656;
    border: 1px solid #b5b0b0;
    color: white;
    border-radius: 18px;
    transition: .4s;
    cursor: pointer;
    font-weight: 600;
    font-size: 15px;
}

.botonCerrar-pn:hover{
    background-color: transparent;
    color: black;
}

.container-prestamos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 87%;
    padding: 10px;
    margin: 20px;
}

.section1-pres{
    height: 95%;
    width: 38%;
    background: white;
}

.section2-pres{
    width: 58%;
    background: white;
    height: 95%;
}

.fieldset1-gpn{
    display: flex;
    justify-content: center;
}

.fieldset1-gpn fieldset{
    width: 550px;
    height: 110px;
    border: 2px solid #b5b0b0;
    border-radius: 10px;
    display: flex;
    justify-content: normal;
    align-items: center;
}
.fieldset1-gpn fieldset legend{
    font-size: 18px;
    margin-left: 10px;
    width: fit-content;
    user-select: none;
}

.select-search-gpn{
    display: flex;
    align-items: center;
    padding-left: 8px;

}

.select-gpn select{
    padding: 9px 15px;
    border-radius: 16px;
    border: 1px solid #b5b0b0;
    color: #1a1515;
    text-align: justify;
    outline: none;
    font-size: 16px;
    margin: 0 5px;
}

.search-gpn{
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.search-gpn input{
    width: 170px;
    outline: none;
    border-radius: 18px;
    color: #1a1515;
    background: transparent;
    border: 1px solid #b5b0b0;
    padding: 9px 15px;
    font-size: 16px;
    text-transform: uppercase;
}
#input-gpn::placeholder{
    text-transform: none;
}

.search-gpn button{
    background-color: transparent;
    color: #1a1515;
    border: 1px solid #b5b0b0;
    border-radius: 18px;
    padding: 5px 8px;
    text-decoration: none;
    transition: .4s;
    margin-left: .5rem;
    font-size: 15px;
}

.search-gpn button:hover{
    background-color: #6ebbe799;
    border: 1px solid white;
}

.fieldset2-gpn{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.fieldset2-gpn fieldset{
    width: 550px;
    height: 555px;
    border: 2px solid #b5b0b0;
    border-radius: 10px;
}

.fieldset2-gpn fieldset legend{
    font-size: 24px;
    margin-left: 10px;
    width: fit-content;
    user-select: none;
}

/*MODIFICACION DE CONTENEDOR PARA IMAGEN Y LABELS DE INFORMACION DE USUARIO DE PRESTAMOS 02/08/2022*/

.info-gpn{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 198px;
}

.info-gpn .img-gpn{
    width: 28%;
    height: 86%;
    margin-top: 20px;
    margin-left: 40px;
}

.info-gpn .img-gpn img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.labels-gpn{
    width: 60%;
    display: grid;
    align-content: space-evenly;
    text-align: end;
    font-weight: 600;
    padding-right: 16px;
}

.labels-gpn label{
    text-transform: uppercase;
    color: #1a1515;
    font-size: 15px;
    padding: 5px;
    user-select: none;
    position: relative;
    top: 7px;
    font-weight: 600;
}

/*ACA TERMINA LA MODIFICACION 02/08/2022*/


.gpn-table{
    margin-top: 30px;
}

.gpn-table label{
    font-size: 12px;
    margin-left: 7px;
    font-weight: 400;
    text-align: start !important;
}

/*Modificaciones de Tabla Historial Prestamo*/
.gpn-table table{
    width: 100%;
    border-collapse: collapse;
    user-select: none;
    margin: auto;
    border-right: 2px solid #f9fafb;
    border-left: 2px solid #f9fafb;
}

.gpn-table table th{
    width: 14%;
    background-color: rgb(110 187 231 / 58%);
    color: #000;
    font-size: 12px;
    padding: 6px 15px;
    text-align: center;
}
.gpn-table table thead {
    display: block;
}

#table-gpn-iu{
    display: block;
    overflow-y: auto;
    height: 222px;
}

/*Estilos para el scrollbar*/
#table-gpn-iu::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}

#table-gpn-iu::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background-color: #999;
    border: 1px solid #b5b0b0;
}

#table-gpn-iu::-webkit-scrollbar-thumb:hover{
    background-color: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}


.gpn-table table td {
    width: 14%;
    padding: 9px 15px;
    font-size: 12px;
    text-align: center;
}

.fieldset3-gpn{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.fieldset3-gpn fieldset{
    width: 850px;
    height: 428px;
    border: 2px solid #b5b0b0;
    border-radius: 10px;
}

.fieldset3-gpn fieldset legend{
    font-size: 18px;
    margin-left: 10px;
    margin-bottom: 16px;
    width: fit-content;
    user-select: none;
}

.search-gpn-be {
    display: flex;
    align-items: center;
    width: 55%;
    position: relative;
    top: 10px;
    left: 16px;
}

.search-gpn-be input{
    outline: none;
    border-radius: 18px;
    color: #1a1515;
    background: transparent;
    border: 1px solid #b5b0b0;
    padding: 9px 16px;
    font-size: 16px;
}

.search-gpn-be button{
    padding: 5px 8px;
    background: transparent;
    border: 1px solid #b5b0b0;
    color: #1a1515;
    border-radius: 18px;
    transition: .4s;
    margin-left: 10px;
    font-size: 15px;
}

.search-gpn-be button:hover{
    background-color: rgb(110 187 231 / 60%);
    border: 1px solid white;
    
}
.table-gpn-be{
    margin-top: 48px;
}
.table-gpn-be label{
    font-size: 12px;
    font-weight: 400;
    margin-left: 10px;
    text-align: start !important;
}

/*Modificacion de tabla Buscar Equipo*/
.table-gpn-be table{
    width: 100%;
    border-collapse: collapse;
    margin: auto;
    border-right: 2px solid #f9fafb;
    border-left: 2px solid #f9fafb;
    user-select: none;
}

.table-gpn-be table thead{
    display: block;
}

.table-gpn-be table tbody{
    display: block;
    height: 216px;
    overflow-y: auto;
}

.table-gpn-be table th{
    width: 16%;
    background-color: rgb(110 187 231 / 58%);
    color: #1a1515;
    padding: 9px 15px;
    text-align: center;
    font-size: 12px;
}

/*Clases para thead*/

.table-gpn-be table td{
    width: 16%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 9px;
    padding-bottom: 9px;
    text-align: center;
    font-size: 12px;
}


/*estilos para el scrollbar*/

#table-gpn-be::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}

#table-gpn-be::-webkit-scrollbar-thumb{
    border: 1px solid #b5b0b0;
    border-radius: 20px;
    background-color: #999;
}

#table-gpn-be::-webkit-scrollbar-thumb:hover{
    background-color: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

#table-gpn-be::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}


.btn-quitar{
    text-decoration: none;
    padding: 4px 16px;
    border: 1px solid #b5b0b0;
    background-color: transparent;
    color: #555;
    border-radius: 18px;
    transition: .4s;
    font-size: 15px;
    cursor: pointer;
    font-weight: 600;
}

.btn-quitar:hover{
    background-color: rgb(110 187 231 / 60%);
    border: 1px solid white;
}

.acces-fechas-gpn{
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.table-accesorios{
    width: 380px;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.table-accesorios fieldset{
    border: 2px solid #b5b0b0;
    width: 94%;
    height: 200px;
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

.table-accesorios fieldset legend{
    font-size: 18px;
    margin-left: 10px;
    width: fit-content;
    user-select: none;
    margin-bottom: 10px;
}

.table-accesorios table{
    width: 95%;
    border-collapse: collapse;
    margin: auto;
    border-right: 2px solid #f9fafb;
    border-left: 2px solid #f9fafb;
    user-select: none;
}

.table-accesorios table th{
    background-color: rgb(110 187 231 / 58%);
    color: black;
    padding: 6px 15px;
    text-align: justify;
    font-size: 13px;
    padding-left: 10px;
}

.table-accesorios table td{
    padding: 9px 10px;
    padding-bottom: 10px;
    text-align: justify;
}

#remove-acc{
    border: 1px solid #b5b0b0;
    background-color: transparent;
    color: #1a1515;
    border-radius: 6px;
    padding: 1px 4px;
    cursor: pointer;
}

#save-acc{
    border: 1px solid #b5b0b0;
    padding: 1px 4px;
    border-radius: 6px;
    background-color: transparent;
    color: black;
    cursor: pointer;
}

.p-gpn{
    font-size: 14px;
}

.ta-center{
    text-align: center;
}

.periodos{
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.btn-acces{
    border: 1px solid #b5b0b0;
    background-color: transparent;
    color: #1a1515;
    border-radius: 18px;
    padding: 4px 10px;
    text-decoration: none;
    transition: .4s;
    cursor: pointer;
    font-size: 18px;
}

.btn-acces:hover{
    background-color: #6ebbe799;
    border: 1px solid #fff;
}

.ml-btn{
    margin-left: 5px;
}

.periodos fieldset{
    width: 100%;
    border: 2px solid #b5b0b0;
    border-radius: 10px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.periodos fieldset legend{
    font-size: 18px;
    margin-left: 10px;
    width: fit-content;
    user-select: none;
}

.fechas-prestamos{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.fechas-prestamos input{
    padding: 9px 15px;
    border-radius: 18px;
    border: 1px solid #b5b0b0;
    margin: auto;
    outline: none;
    font-size: 16px;
}



.mt-acces{
    margin-top: 18px !important;
}

.agregar-prestamo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.agregar-prestamo button{
    text-decoration: none;
    outline: none;
    padding: 8px 10px;
    border-radius: 18px;
    color: #1a1515;
    background-color: transparent;
    box-shadow: 1px 3px 8px 3px #b5b0b0;
    border: none;
    transition: .4s;
    font-size: 16px;
    margin-left: 18px;
}

.agregar-prestamo button:hover{
    outline: none;
    background-color: #6ebbe799;
    border: none;
}

/*Estilos Responsivos*/

@media screen and (max-width:1600px){
    .section-prestamos{
        width: 96%;
    }

    .select-gpn select{
        width: 170px;
        font-size: 15px;
        padding: 9px 8px;
    }

    .search-gpn input{
        width: 160px;
    }
}

@media screen and (max-width:1385px) {
    .search-gpn{
        display: flex;
        margin-right: 0;
        align-items: center;
    }
    
    .container-prestamos{
        margin-top: 8px;
    }
}

/*Estilos Surface Pro 7*/

@media screen and (max-width:1368px) {
    .section-prestamos{
        width: 95%;
        height: 97%;
    }

    .container-prestamos{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 0;
        padding-top: 0;
    }

    .section1-pres {
        height: 98%;
        width: 39%;
    }

    .select-gpn select {
        padding: 9px 4px;
        font-size: 15px;
    }

    .search-gpn input {
        width: 132px;
    }

    .fieldset2-gpn{
        margin-top: 20px;
    }

    .fieldset2-gpn fieldset{
        height: 540px;
    }
    .fieldset2-gpn fieldset legend{
        font-size: 20px;
    }

    .info-gpn .img-gpn{
        width: 29%;
        margin-left: 25px;
    }

    .labels-gpn label{
        font-size: 14px;
    }
    .section2-pres {
        width: 59%;
        height: 98%;
    }

    .search-gpn-be{
        top: 4px;
        left: 11px;
    }

    .gpn-table{
        margin-top: 20px;
    }


    .table-gpn-be{
        margin-top: 30px;
    }


    .fieldset3-gpn fieldset{
        height: 390px;
    }

    .acces-fechas-gpn{
        margin-top: 24px;
    }

    .table-accesorios fieldset{
        width: 315px;
        height: 230px;
    }

    .periodos{
        align-items: flex-start;
    }

    .periodos fieldset{
        width: 240px;
        height: 170px;
    }

    .fechas-prestamos input{
        width: 195px;
        padding: 9px 10px;
    }

    .agregar-prestamo{
        position: relative;
        top: 90px;
        right: 195px;
    }

    #btn-gpn-quitar{
        font-size: 14px;
    }

    .cabecera-pres{
        margin-bottom: 16px;
    }
}

@media screen and (max-width:1200px) {

    .section-prestamos{
        width: 95%;
        height: 97%;
    }
    .cabecera-pres{
        margin-bottom: 0;
    }

    .fieldset1-gpn fieldset{
        width: 290px;
        height: 190px;
        justify-content: center;
    }

    .select-search-gpn{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .select-gpn select{
        width: 200px;
        padding: 8px 15px;
        margin-bottom: 2px;
    }

    .search-gpn{
        flex-direction: column;
        align-items: center;
    }

    .search-gpn input{width: 200px;}

    .search-gpn input{
        margin-top: 12px;
    }

    .search-gpn button{
        margin-top: 12px;
    }

    .gpn-table table td{
        padding-left: 8px;
        padding-right: 4px;
    }

    .table-accesorios fieldset{
        width: 275px;
    }
    .inp-add-acc{
        width: 200px;
    }

    .periodos fieldset{
        width: 200px;
        height: 174px;
    }

    .fechas-prestamos input{
        width: 172px;
        font-size: 14px;
    }

    .agregar-prestamo{
        right: 180px;
        top: 92px;
    }
    
}

@media screen and (max-width:912px), screen and (orientation:portrait) {
    .section-prestamos{
        width: 97%;
    }

    .gpn-table table th{
        padding: 6px 1px;
        font-size: 11px;
    }
    
    .table-gpn-be table th{
        padding: 8px 1px;
        font-size: 11px;
    }

    .fieldset3-gpn fieldset{
        height: 384px;
    }

    .acces-fechas-gpn{
        margin-top: 18px;
    }

    .table-accesorios fieldset{
        width: 204px;
        height: 175px;
    }

    .table-accesorios fieldset legend{
        margin-bottom: 8px;
    }

    .select-gpn select{
        width: 200px;
        padding: 9px 15px;
    }

    #input-gpn{
        width: 170px;
    }

    .search-gpn button{
        margin-top: 15px;
        margin-left: 0;
    }

    .gpn-table table td{
        padding: 8px 2px;
        font-size: 11px;
    }

    .table-gpn-be table td{
        font-size: 11px;
    }

    .btn-quitar{
        padding: 3px 12px;
        font-size: 13px;
    }

    .labels-gpn label{
        font-size: 13px;
    }

    .acces-fechas-gpn{
        justify-content: normal;
        padding-left: 16px;
    }

    .agregar-prestamo{
        top: 124px;
    }
    
}

@media screen and (max-width:667px){

    .contenedor-principal-prestamos{
        height: auto;
    }

    .section-prestamos{
        width: 95%;
    }

    .container-prestamos{
        flex-direction: column;
        margin: 0;
    }

    .cabecera-pres{
        margin-bottom: 24px;
    }

    .cabecera-pres h1{
        font-size: 18px;
        font-weight: 500;
    }

    .botonCerrar-pn{
        padding: 4px 15px;
    }

    .search-gpn button{
        border-radius: 20px;
    }

    .section1-pres{
        width: 90%;
    }

    .section2-pres{
        width: 100%;
    }

    .search-gpn-be input{
        width: 130px;
        padding: 7px 15px;
        font-size: 14px;
    }

    .fieldset1-gpn fieldset{
        width: 260px;
    }

    .gpn-table table td{
        font-size: 10px;
    }

    .gpn-table table th{
        font-size: 10px;
    }

    .table-gpn-be table th{
        font-size: 10px;
    }

    .table-gpn-be table td{
        font-size: 10px;
        padding: 8px 4px;
    }

    .search-gpn-be button{
        padding: 4px 8px;
        font-size: 14px;
    }

    .table-gpn-be table tbody{
        height: 226px;
    }

    .labels-gpn label{
        font-size: 12px;
    }

    .table-gpn-be label{
        font-size: 11px;
    }

    .gpn-table label{
        font-size: 11px;
    }

    .btn-quitar{
        padding: 3px 9px;
        font-size: 11px;
    }

    .table-accesorios fieldset{
        width: 150px;
    }

    .periodos fieldset{
        width: 154px;
        height: 130px;
    }

    .table-accesorios fieldset legend{
        margin-bottom: 0;
        font-size: 16px;
    }

    .fechas-prestamos input {
        width: 130px;
        padding: 7px 4px;
    }

    .acces-fechas-gpn{
        padding-left: 0;
    }

    .agregar-prestamo{
        top: 74px;
        right: 108px;
    }

    .agregar-prestamo button{
        font-size: 14px;
        border-radius: 20px;
        padding: 8px;
    }

    /*Leyendas de Fieldset*/
    .fieldset1-gpn fieldset legend{
        font-size: 16px;
    }

    .fieldset2-gpn fieldset legend{
        font-size: 18px;
    }

    .fieldset3-gpn fieldset legend{
        font-size: 16px;
    }

    .periodos fieldset legend{
        font-size: 16px;
    }

    /*Scrollbar*/
    #table-gpn-iu::-webkit-scrollbar{
        width: 5px;
        height: 5px;
    }
}