@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css");

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

section{
    margin: 20px;
    border-bottom: 2px solid rgb(165, 165, 165);
    border-top: 2px solid #b5b0b0;
    border-left: 2px solid #b5b0b0;
    border-right: 2px solid #b5b0b0;
}

.cabecera{
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

.cabecera h1{
    text-decoration: none;
    user-select: none;
    font-size: 20px;
    font-weight: 400;
}

.botonCerrar{   
    padding: 0 20px;
    background-color: rgb(248, 86, 86);
    border: 1px solid #a7a79b;
    color: white;
    border-radius: 10px;
    transition: .5s;

}

.botonCerrar:hover{
    background-color: #fff;
    color: black;
    border: 1px solid #9a9a91;
}
.caja{
    position: relative;
    background-color: #fff;
    height: 100px;
    width: 600px !important;
    text-align: center;
    border-bottom: 1px solid #b5b0b0;
    border-top: 2px solid #b5b0b0;
    border-right:2px solid #b5b0b0;
    border-left: 2px solid #b5b0b0;
    right: 200px;
    margin-top: 25px;
}

.caja p{
    position: absolute;
    left: 42%;
    bottom: 68px;
    background: white;
    padding: 4px 16px;
    user-select: none;
    
}

.buscadores{
    display: flex;
    padding: 30px;
    letter-spacing: 1px;
}

.buscadores select{
    border-radius: 8px;
    height: 30px;
    width: 100px;
    border-radius: 10px;
    border: 1px solid #9a9a91;
    text-align: justify;
}

.buscadores input{
    border-radius: 10px;
    height: 30px;
    width: 150px;
    border: 1px solid #9a9a91;
    outline: none;
    text-align: center;
}

.buscadores a{
    background-color: #83d2e5;
    color: #231d1de6;
    border: 1px solid #9a9a9a;
    border-radius: 10px;
    padding: 2px 10px;
    text-decoration: none;
    transition: 1s;
}

.buscadores a:hover{
    background-color: #fff;
    color: black;
    border: 1px solid #83d2e5;
}
hr{
    width: 50%;
    color: azure;
}

.caja2{
    position:  relative;
    text-align: center;
    width: 600px;
    border-bottom: 1px solid #b5b0b0;
    border-top:2px solid #b5b0b0;
    border-left: 2px solid #b5b0b0;
    border-right: 2px solid #b5b0b0;
    right: 200px;
    margin-bottom: 12px;
    margin-top: 50px;
}

.caja2 p {
    position: absolute !important;
    font-size: 20px;
    font-weight: 500;
    user-select: none;
    left: 29%;
    bottom: 451px;
    background-color: white;
    padding: 10px 20px;
    
}

/*
.caja2 i{
    margin-top: 70px;
    font-size: 100PX;
    position: absolute;
    left: 35PX;
}*/

.info{
    display: flex;
    justify-content: space-between;
}

.info i{
    position: relative;
    margin-top: 50px;
    font-size: 80px;
    left: 30px;
}

.info ul li{
    font-size: 17px;
    text-align: center;
    position: relative;
    top: 50px;
    margin: 2px;
    padding: 2px 20px;
    list-style: none;
    margin-right: 30px;
}

.area{
    padding-top: 30px;
}
.area label{
    margin-bottom: 0;
    right: 160px;
    position: relative;
    font-size: 12px;
    font-weight: 500;
}

.area textarea{
    width: 90% !important;
    margin-left: 20px !important;
}

.area table{
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border-left: 2px solid #f9fafb;
    border-right: 2px solid #f9fafb;
}
.area table th{
    background-color: rgb(71, 70, 70);
    color: white;
    font-size: 15px;
}

.area table td{
    border: 1px solid #9a9a91;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*Segundo Row*/

.equipo{
    height: 300px;
    width: 700px !important;
    position: relative;
    background-color: #fff;
    text-align: center;
    border-bottom: 1px solid #b5b0b0;
    border-top: 2px solid #b5b0b0;
    border-right:2px solid #b5b0b0;
    border-left: 2px solid #b5b0b0;
    left: 90px;
}

.equipo p{
    position: absolute !important;
    left: 40%;
    bottom: 266px;
    background: white;
    padding: 4px 16px;
    user-select: none;
}
.search-1{
    position: relative;
    width: 300px;
    height: 40px;
    margin-right: 80px;
    left: 35px;
}

.search-1 input{
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    border-radius: 10px;
    margin-right: 150px;
    color: #1a1515;
    background: transparent;
    border: 1px solid rgb(36, 31, 31);
    padding: 5px 10px 0 45px
}

.search-1 i{
    position: absolute;
    top: 12px;
    transform: translateY(-39%);
    left: 10px;
    color: #1a1515;
    border-right: 1px solid #1a1515;
    padding-right: 10px;
}

.search input::placeholder{color: rgb(109, 103, 103);}

 /*Segundo filtro de busqueda*/
.search{
    position: relative;
    width: 300px;
    height: 40px;
    margin-right: 80px;
    top: 40px;
    left: 35px;
}

.search input{
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    border-radius: 10px;
    margin-right: 150px;
    color: #1a1515;
    background: transparent;
    border: 1px solid rgb(36, 31, 31);
    padding: 5px 10px 0 45px
}

.search i{
    position: absolute;
    top: 12px;
    transform: translateY(-39%);
    left: 10px;
    color: #1a1515;
    border-right: 1px solid #1a1515;
    padding-right: 10px;
}

.search input::placeholder{color: rgb(109, 103, 103);}

@media screen and (max-width:1200px) {
    .caja{
        justify-content: center;
        right: 0;
        
    }

    .caja2{
        right: 0;
    }

    .row{
        flex-direction: column;
    }

    .container{
      
      max-width: 630px !important;
    }

    .cabecera input{
        margin-right: 0px;
    }

    .equipo{
        left: 0;
        max-width: 600px;
    }
    
}

@media screen and (max-width:992px) {
    .caja{
        right: 0;
        
    }

    .caja2{
        right: 0;
    }

    .row{
        flex-direction: column;
    }

    
    
}