@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css");

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

section{
    margin: 30px;
    border-bottom: 2px solid rgb(165, 165, 165);
    border-top: 2px solid #b5b0b0;
    border-left: 2px solid #b5b0b0;
    border-right: 2px solid #b5b0b0;
}

.cabecera{
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

.cabecera h1{
    text-decoration: none;
    user-select: none;
    font-size: 20px;
    font-weight: 400;
}

.botonCerrar{   
    padding: 0 20px;
    background-color: rgb(248, 86, 86);
    border: 1px solid #a7a79b;
    color: white;
    border-radius: 10px;
    transition: .5s;

}

.botonCerrar:hover{
    background-color: #fff;
    color: black;
    border: 1px solid #9a9a91;
}
.caja{
    position: relative;
    background-color: #fff;
    height: 100px;
    width: 600px !important;
    text-align: center;
    border-bottom: 1px solid #b5b0b0;
    border-top: 2px solid #b5b0b0;
    border-right:2px solid #b5b0b0;
    border-left: 2px solid #b5b0b0;
    right: 200px;
    margin-top: 25px;
    border-radius: 10px;
}

.caja p{
    position: absolute;
    left: 2%;
    bottom: 70.5px;
    background: white;
    padding: 0 2px;
    user-select: none;
    
}

.buscadores{
    display: flex;
    padding: 30px;
    margin-top: 4px;
    
}

.buscadores select{
    border-radius: 8px;
    height: 30px;
    width: 100px;
    border-radius: 10px;
    border: 1px solid #9a9a91;
    text-align: justify;
    outline: none;
    
}

.buscadores input{
    border-radius: 10px;
    height: 30px;
    width: 150px;
    border: 1px solid #9a9a91;
    outline: none;
    text-align: center;
}

.buscadores a{
    background-color: #83d2e5;
    color: #231d1de6;
    border: 1px solid #9a9a9a;
    border-radius: 10px;
    padding: 2px 10px;
    text-decoration: none;
    transition: 1s;
}

.buscadores a:hover{
    background-color: #fff;
    color: black;
    border: 1px solid #83d2e5;
}
hr{
    width: 50%;
    color: azure;
}

.caja2{
    position:  relative;
    text-align: center;
    width: 600px;
    border-bottom: 1px solid #b5b0b0;
    border-top:2px solid #b5b0b0;
    border-left: 2px solid #b5b0b0;
    border-right: 2px solid #b5b0b0;
    right: 200px;
    margin-bottom: 12px;
    margin-top: 50px;
    border-radius: 10px;
}

.caja2 p {
    position: absolute !important;
    font-size: 20px;
    font-weight: 500;
    user-select: none;
    left: 2%;
    bottom: 522px;
    background-color: white;
    padding: 0 4px;
    
}

/*
.caja2 i{
    margin-top: 70px;
    font-size: 100PX;
    position: absolute;
    left: 35PX;
}*/

.info{
    display: flex;
    justify-content: space-around;
}

.info i{
    position: relative;
    margin-top: 70px;
    font-size: 80px;
    left: 30px;
}

.info ul li{
    font-size: 18px;
    position: relative;
    top: 70px;
    margin: 2px;
    padding: 2px 20px;
    list-style: none;
    margin-right: 30px;
}

.area{
    height: 360px;
    padding-top: 50px;
}
.area label{
    margin-bottom: 0;
    right: 205px;
    position: relative;
    font-size: 12px;
    font-weight: 500;
}

.area textarea{
    width: 90% !important;
    margin-left: 20px !important;
}

.area table{
    margin-top: 8px;
    margin: auto;
    width: 540px;
    border-collapse: collapse;
    border-left: 2px solid #f9fafb;
    border-right: 2px solid #f9fafb;
    user-select: none;
}
.area table th{
    background-color: rgb(110 187 231 / 58%);
    color: black;
    font-size: 14px;
    padding: 5px 15px;
}

.area table td{
    
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*Segundo Row*/

.equipo{
    
    width: 800px !important;
    position: relative;
    background-color: #fff;
    text-align: center;
    border-bottom: 1px solid #b5b0b0;
    border-top: 2px solid #b5b0b0;
    border-right:2px solid #b5b0b0;
    border-left: 2px solid #b5b0b0;
    left: 90px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.equipo p{
    position: absolute !important;
    left: 2%;
    bottom: 434px;
    background: white;
    padding: 0 4px;
    user-select: none;
    
}
.search-1{
    position: relative;
    width: 300px;
    height: 40px;
    margin-right: 80px;
    left: 35px;
}

.search-1 input{
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    border-radius: 10px;
    margin-right: 150px;
    color: #1a1515;
    background: transparent;
    border: 1px solid rgb(36, 31, 31);
    padding: 5px 10px;
    font-size: 15px;
}

.search-1 i{
    position: absolute;
    font-size: 17px;
    top: 12px;
    transform: translateY(-39%);
    left: 10px;
    color: #1a1515;
    border-right: 1px solid #1a1515;
    padding-right: 5px;
}

.search input::placeholder{color: rgb(109, 103, 103);}

 /*Segundo filtro de busqueda*/
.search{
    position: relative;
    width: 300px;
    height: 40px;
    margin-right: 80px;
    top: 40px;
    left: 35px;
}

.search input{
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    border-radius: 10px;
    margin-right: 150px;
    color: #1a1515;
    background: transparent;
    border: 1px solid rgb(36, 31, 31);
    padding: 5px 10px 0 45px
}

.search i{
    font-size: 17px;
    position: absolute;
    top: 12px;
    transform: translateY(-39%);
    left: 10px;
    color: #1a1515;
    border-right: 1px solid #1a1515;
    padding-right: 10px;
}

.search input::placeholder{color: rgb(109, 103, 103);}

.area-equipos{
    height: 420px;
    padding-top: 65px;
}

.area-equipos label{
    margin-bottom: 0;
    position: relative;
    right: 303px;
    font-size: 12px;
    font-weight: 500;
    
}

/*Segunda tabla*/
 .equipo table{
    margin-top: 10px;
    margin: auto;
    width: 740px;
    border-collapse: collapse;
    border-left: 2px solid #f9fafb;
    border-right: 2px solid #f9fafb;
    user-select: none;
}

 .equipo table th{
    background-color: rgb(110 187 231 / 58%);
    color: black;
    font-size: 14px;
    padding: 10px 15px;
}

.equipo table td{
    
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.b-quitar{
    text-decoration: none;
    padding: 4px 8px;
    border: 1px solid rgb(110 187 231 / 58%);
    background-color: transparent;
    color: #1a1515;
    border-radius: 10px;
    transition: .5s;
    cursor: pointer;
}

.b-quitar:hover{
    background-color: rgb(110 187 231);
    border: 1px solid #b5b0b0;
    color: white;
    font-weight: 500;
}

/*Contenedor de Accesorios*/

.contenedor{
    width: 860px !important;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

#miid::placeholder {
    color: rgb(68, 66, 66);
    padding-left: 10px;
    padding-top: 30px;
  }

.contenedor .cont-area{
    height: 150px;
    width: 315px;
}
.contenedor .cont-area textarea{
    outline: none;
    border-right: 2px solid #b5b0b0;
    border-bottom: 1px solid #b5b0b0;
    border-left: 2px solid #b5b0b0;
    border-top: 2px solid #b5b0b0;
    border-radius: 10px;
    margin-left: 100px;
    width: 290px;
    height: 150px;;
    text-align: justify;
    padding: 10px;
}

#miid::placeholder {
    color: rgb(68, 66, 66);
    padding-left: 8px;
    padding-top: 40px;
    font-size: 20px;
  }

.contenedor .accesorios p{
    font-size: 16px;
    font-weight: 600;
    margin-left: 10px;
}

.contenedor .periodos{
    position: relative;
    display: flex;
    justify-content: space-between;
    border-right: 2px solid #b5b0b0;
    border-bottom: 1px solid #b5b0b0;
    border-left: 2px solid #b5b0b0;
    border-top: 2px solid #b5b0b0;
    height: 150px;
    width: 800px !important;
    border-radius: 10px;
    margin-left: 115px;
}

.contenedor .periodos p{
    position: absolute !important;
    padding: 0 4px;
    background: white;
    left: 2%;
    bottom: 121px;
    user-select: none;
}

.contenedor .periodo{
    display: flex;
    flex-direction: column;
    margin-top: 18px;
    margin-left: 20px;
}


.contenedor .periodo input{
    padding: 6px 15px;
    border-radius: 8px;
    border: 1px solid #1a1515;
    margin: auto;
    outline: none;
}

.agregar{
    margin-top: 70px;
    margin-right: 15px;
}
.btn-agregar{
    text-decoration: none;
    padding: 4px 10px;
    border: 1px solid rgb(110 187 231 / 58%);
    background: transparent;
    color: #1a1515;
    border-radius: 10px;
    transition: .54s;
    cursor: pointer;
}

.btn-agregar:hover{
    background-color: rgb(110 187 231);
    color: white;
    border: 1px solid #a7a79b;
}

/*Estilos para la vista de baja asignaciones*/

.baja-asignaciones section{
    margin: 40px;
    border-bottom: 2px solid rgb(165, 165, 165);
    border-top: 2px solid #b5b0b0;
    border-left: 2px solid #b5b0b0;
    border-right: 2px solid #b5b0b0;
}

.baja-asignaciones{
    display: flex;
    justify-content: space-around;
}

.user-search{
    position: relative;
    width: 400px;
    border-bottom: 1px solid rgb(165, 165, 165);
    border-top: 2px solid #b5b0b0;
    border-left: 2px solid #b5b0b0;
    border-right: 2px solid #b5b0b0;
    border-radius: 10px;
}

.user-search p{
    position: absolute;
    bottom: 198px;
    left: 2%;
    background-color: white;
    padding: 0 4px;
}

.user-search-select{
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}

.user-search-select select{
    padding: 6px 25px;
    border-radius: 12px;
    margin: auto;
    margin-bottom: 15px;
    outline: none;
    text-align: center;
}

.user-search-select input{
    padding: 4px 18px;
    border-radius: 12px;
    margin: auto;
    margin-top: 10px;
    outline: none;
    border: 1px solid #1a1515;
}

.user-icon{
    justify-content: center;
    display: flex;
    margin-top: 30px;
}

.user-icon a{
    width: 45px;
    background: rgb(196, 194, 194);
    height: 45px;
    border-radius: 22px;
    position: relative;
}

.user-icon  i{
    position: absolute;
    font-size: 22px;
    left: 13px;
    top: 7px;
    color: #1a1515;
}


/*Parte responsiva para Laptops*/
@media screen and (max-width:1400px){
    .caja{
        right: 60px;
        max-width: 500px;
    }

    .caja2{
        right: 60px;
        max-width: 500px;
    }

    .area label{
        right: 160px;
    }
    .area table{
        max-width: 455px;
    }

    .equipo{
        left: 0;
        right: 10px;
        max-width: 704px;
    }
    .equipo .area-equipos label{
        right: 270px !important;
    }

    .area-equipos table{
        max-width: 675px;
    }
    
    .contenedor{
        max-width: 600px;
        margin-left: 10px;
    }

    .contenedor.cont-area{
        width: 200px;
        height: 120px;
    }

    .contenedor .periodo input {
        padding: 1px 4px;
        border-radius: 12px;
    }

    .agregar{
        margin-left: 18px;
    }
}

/*Parte responsiva para Tablets*/

@media screen and (max-width:1200px) {

    .caja{
        justify-content: center;
        right: 0;
        max-width: 600px;
        
    }

    .caja2{
        right: 0;
        max-width: 600px;
    }

    .area label{
        right: 205px;
    }
    .area table{
        max-width: 550px;
    }


    .row{

        /*flex-direction: column; para bajar una columna a modo vertical*/
        flex-direction: column;
        
    }

    .container{
      
      max-width: 630px !important;
    }

    .cabecera input{
        margin-right: 0px;
    }

    .equipo{
        left: 0;
        max-width: 960px;
    }
    .equipo .area-equipos table{
        max-width: 740px;
    }
    .equipo .area-equipos label{
        right: 295px !important;
    }

    .buscar-equipos{
        position: relative;
        right: 100px;
    }
    .contenedor{
        max-width: 800px;
        margin-left: 30px !important;
    }

    .contenedor .cont-area textarea{
        margin-left: 0;
    }

    .contenedor .periodos {
        max-width: 500px !important;
        margin-right:60px;
    }
    .contenedor .accesorios{
        margin-left: 0;
    }

    .contenedor .periodo input {
        padding: 1px 4px;
        border-radius: 12px;
    }

    .agregar{
        margin-left: 32px;
    }
}

/*Tablets mas pequeñas*/
@media screen and (max-width:992px) {
    .caja{
        right: 0;
        
    }

    .caja2{
        right: 0;
    }

    .row{
        flex-direction: column;
    }

    .equipo{
        left: 0;
        max-width: 690px;
    }

    .equipo p{
        bottom: 431px;
    }

    .equipo label{
        right: 270px;
    }
    .equipo .area-equipos label{
        right: 250px !important;
    }
    .equipo .area-equipos table {
        max-width: 500px;
    }
    .buscar-equipos{
        right: 40px;
    }

    .contenedor{
        max-width: 690px;
        margin-left: 0 !important;
    }
    .contenedor .cont-area{
        width: 245px;
    }
    .contenedor .cont-area textarea {
        margin-left: 60px;
        height: 135px;
    }

    .contenedor .periodos{
        height: 135px;
    }
    .contenedor .periodos p{
        bottom: 105px;
    }
    .agregar{
        margin-left: 40px;
    }
    
}

/*Medidas para Celular*/

@media screen and (max-width:500px) {
    section{
        margin: 10px;
    }

    .caja{
        max-width: 365px;
    }

    .caja2{
        max-width: 365px;
    }

    .caja2 p{
        position: absolute;
        left: 17%;
    }

    .area label{
        right: 5px;
    }

    .area table{
        max-width: 340px;
    }

    .buscar-equipos{
        position: initial;
    }
    .equipo{
        
        max-width: 365px;
    }
    
}