@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css");

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.section-prestamos{
    width: 1650px;
    height: 900px;
    margin: auto;
    margin-top: 50px;
    border-bottom: 2px solid rgb(165, 165, 165);
    border-top: 2px solid #b5b0b0;
    border-left: 2px solid #b5b0b0;
    border-right: 2px solid #b5b0b0;
    background-color: white;
}

.cabecera{
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

.cabecera h1{
    text-decoration: none;
    user-select: none;
    font-size: 20px;
    font-weight: 400;
}

.botonCerrar{   
    padding: 0 20px;
    background-color: rgb(248, 86, 86);
    border: 1px solid #a7a79b;
    color: white;
    border-radius: 10px;
    transition: .5s;

}

.botonCerrar:hover{
    background-color: #fff;
    color: black;
    border: 1px solid #9a9a91;
}

.prestamo-fil{
    background-color: #fff;
    height: 100px;
    width: 650px !important;
    margin-top: 25px;
    border-radius: 10px;
}

.prestamo-fil fieldset{
    width: 550px;
    height: 110px;
}

.prestamo-fil legend{
    font-size: 18px;
    width: 10% !important;
    float: none !important;
    margin-left: 10px !important;
}

.buscadores-prestamos{
    display: flex;
    justify-content: space-around;
    
}

.buscadores-prestamos select{
    border-radius: 8px;
    padding: 5px 25px;
    border-radius: 10px;
    border: 1px solid #9a9a91;
    text-align: justify;
    outline: none;
    margin-left: 20px;
    
}

.buscadores-prestamos input{
    border-radius: 10px;
    height: 30px;
    width: 150px;
    border: 1px solid #9a9a91;
    outline: none;
    text-align: center;
}

.buscar-pres{
    margin-top: 13px;
    position: relative;
    right: 95px;

}

.buscadores-prestamos a{
    background-color: transparent;
    color: #1a1515;
    border: 1px solid rgb(36 31 31 / 75%);
    border-radius: 10px;
    padding: 2px 10px;
    text-decoration: none;
    transition: .5s;
}

.buscadores-prestamos a:hover{
    background-color: rgb(110 187 231);
    color: white;
    border: 1px solid #9a9a91;
}

.prestamos-caja2{
    position:  relative;
    width: 600px;
    margin-bottom: 12px;
    margin-top: 50px;
    border-radius: 10px;
}
.prestamos-caja2 fieldset{
    width: 550px;
    height: 600px;
    border: 2px solid #b5b0b0 ;
}

.prestamos-caja2 legend{
    font-size: 23px;
    float: none !important;
    margin-left: 10px !important;
    width: 44%;
}

/*
.caja2 i{
    margin-top: 70px;
    font-size: 100PX;
    position: absolute;
    left: 35PX;
}*/

.info{
    display: flex;
    justify-content: space-around;
}

.info i{
    position: relative;
    margin-top: 70px;
    font-size: 80px;
    left: 30px;
}

.info ul li{
    font-size: 18px;
    position: relative;
    top: 70px;
    margin: 2px;
    padding: 2px 20px;
    list-style: none;
    margin-right: 30px;
}

.area{
    height: 360px;
    padding-top: 50px;
}
.area label{
    margin-bottom: 0;
    left: 7px;
    position: relative;
    font-size: 12px;
    font-weight: 500;
}

.area textarea{
    width: 90% !important;
    margin-left: 20px !important;
}

.area table{
    margin-top: 8px;
    margin: auto;
    width: 540px;
    border-collapse: collapse;
    border-left: 2px solid #f9fafb;
    border-right: 2px solid #f9fafb;
    user-select: none;
}
.area table th{
    background-color: rgb(110 187 231 / 58%);
    color: black;
    font-size: 14px;
    padding: 5px 15px;
}

.area table td{
    
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*Segundo Row*/

.equipo-prestamos{
    
    width: 750px !important;
    position: relative;
    background-color: #fff;
    left: 90px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.equipo-prestamos fieldset{
    width: 750px;
    height: 450px;
    border: 2px solid #9a9a91;
}

.equipo-prestamos legend{
    float: none !important;
    font-size: 18px;
    margin-left: 10px;
    width: 16%;

}

.search-1{
    position: relative;
    width: 300px;
    height: 40px;
    left: 35px;
}

.search-1 input{
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    border-radius: 10px;
    margin-right: 150px;
    color: #1a1515;
    background: transparent;
    border: 1px solid rgb(36, 31, 31);
    padding: 5px 10px;
    font-size: 15px;
}

.search-1 i{
    position: absolute;
    font-size: 17px;
    top: 12px;
    transform: translateY(-39%);
    left: 10px;
    color: #1a1515;
    padding-right: 5px;
}

.search input::placeholder{color: rgb(109, 103, 103);}

 /*Segundo filtro de busqueda*/
.search{
    position: relative;
    width: 300px;
    height: 40px;
    margin-right: 80px;
    top: 40px;
    left: 35px;
}

.search input{
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    border-radius: 10px;
    margin-right: 150px;
    color: #1a1515;
    background: transparent;
    border: 1px solid rgb(36, 31, 31);
    padding: 5px 10px 0 45px
}

.search i{
    font-size: 17px;
    position: absolute;
    top: 12px;
    transform: translateY(-39%);
    left: 10px;
    color: #1a1515;
    padding-right: 10px;
}

.search input::placeholder{color: rgb(109, 103, 103);}

.buscar-pres-e{
    position: relative;
    left: 310px;
    margin-top: 5px;  
}

.buscar-pres-e a{
    padding: 2px 10px;
    background: transparent;
    border: 1px solid rgb(36 31 31 / 75%);
    color: #231d1de6;
    border-radius: 10px;
    text-decoration: none;
    transition: .5s;
}

.buscar-pres-e a:hover{
    border: 1px solid #9a9a91;
    background: rgb(110 187 231);
    color: white;
}

.area-equipos{
    height: 420px;
    padding-top: 65px;
}

.area-equipos label{
    margin-bottom: 0;
    position: relative;
    left: 8px;
    font-size: 12px;
    font-weight: 500;
    
}

/*Segunda tabla*/
 .area-equipos table{
    margin-top: 10px;
    margin: auto;
    width: 740px;
    border-collapse: collapse;
    border-left: 2px solid #f9fafb;
    border-right: 2px solid #f9fafb;
    user-select: none;
}

.area-equipos table th{
    background-color: rgb(110 187 231 / 58%);
    color: black;
    font-size: 14px;
    padding: 10px 15px;

}

.area-equipos table td{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.b-quitar{
    text-decoration: none;
    padding: 4px 8px;
    border: 1px solid rgb(110 187 231 / 58%);
    background-color: transparent;
    color: #1a1515;
    border-radius: 10px;
    transition: .5s;
    cursor: pointer;
}

.b-quitar:hover{
    background-color: rgb(110 187 231);
    border: 1px solid #b5b0b0;
    color: white;
    font-weight: 500;
}

/*Contenedor de Accesorios*/

.contenedor{
    width: 860px !important;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

#miid::placeholder {
    color: rgb(68, 66, 66);
    padding-left: 10px;
    padding-top: 30px;
  }

.contenedor .cont-area{
    height: 150px;
    width: 315px;
}
.contenedor .cont-area textarea{
    outline: none;
    border-right: 2px solid #b5b0b0;
    border-bottom: 1px solid #b5b0b0;
    border-left: 2px solid #b5b0b0;
    border-top: 2px solid #b5b0b0;
    border-radius: 10px;
    margin-left: 80px;
    width: 290px;
    height: 158px;;
    text-align: justify;
    padding: 10px;
    margin-top: 24px;
}

#miid::placeholder {
    color: rgb(68, 66, 66);
    padding-left: 8px;
    padding-top: 40px;
    font-size: 20px;
  }

.contenedor .accesorios p{
    font-size: 16px;
    font-weight: 600;
    margin-left: 10px;
}

.contenedor .periodos{
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 170px;
    width: 400px !important;
    border-radius: 10px;
    margin-left: 20px;
}

.periodos fieldset{
    height: 172px;
    width: 400px;
    border: 2px solid #b5b0b0;

}

.periodos legend{
    font-size: 18px;
    float: none;
    margin-left: 10px;
    width: 32%;
}
.fechas-prestamos{
    display: flex;
    flex-direction: column;
    margin-top: 18px;
    margin-right: 120px;
}


.fechas-prestamos input{
    padding: 6px 15px;
    border-radius: 8px;
    border: 1px solid #1a1515;
    margin: auto;
    outline: none;
}

.agregar{
    position: relative;
    bottom: 60px;
    margin-left: 305px;
}
.btn-agregar{
    text-decoration: none;
    padding: 4px 10px;
    border: 1px solid rgb(110 187 231 / 58%);
    background: transparent;
    color: #1a1515;
    border-radius: 10px;
    transition: .54s;
    cursor: pointer;
}

.btn-agregar:hover{
    background-color: rgb(110 187 231);
    color: white;
    border: 1px solid #a7a79b;
}

/*Estilos para la vista de baja asignaciones*/

body .section-asign {
    max-width: 1450px;
    margin: auto;
    margin-top: 100px;
    border-bottom: 2px solid rgb(165, 165, 165);
    border-top: 2px solid #b5b0b0;
    border-left: 2px solid #b5b0b0;
    border-right: 2px solid #b5b0b0;
}


.cabecera-asign{
    display: flex;
    justify-content: space-between;
    margin: 30px;
}
.cabecera-asign h1{
    text-decoration: none;
    user-select: none;
    font-size: 20px;
    font-weight: 400;
}

.baja-asign{
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

.user-fieldset{
    width: 400px;
    height: 200px;
}


fieldset{
    border: 2px solid #b5b0b0  !important;
    margin: 10px !important;
    border-radius: 10px;
    height: 150px;
}

.user-fieldset legend{
    font-size: 17px !important;
    float: none !important;
    width: 26% !important;
    margin-left: 10px !important;
}



.user-search-select{
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}

.user-search-select select{
    padding: 6px 25px;
    border-radius: 12px;
    margin: auto;
    margin-bottom: 15px;
    outline: none;
    text-align: center;
}

.user-search-select input{
    padding: 4px 16px;
    border-radius: 12px;
    margin: auto;
    margin-top: 10px;
    outline: none;
    border: 1px solid #1a1515;;;
}

.user-icon{
    justify-content: center;
    display: flex;
    margin-top: 30px;
}

.user-icon a{
    width: 45px;
    background: rgb(196, 194, 194);
    height: 45px;
    border-radius: 22px;
    position: relative;
    transition: .5s;
    box-shadow: 0px 5px 5px #9a9a9a;
}

.user-icon  i{
    position: absolute;
    font-size: 22px;
    left: 13px;
    top: 7px;
    color: #1a1515;
}

.user-icon a:hover{
    background-color: rgb(110 187 231 / 58%);
}

.user-detail{
    position: relative;
    width: 700px;
    border-top: 2px solid #b5b0b0;;
    border-bottom:1px solid #b5b0b0;;
    border-left: 2px solid #b5b0b0;;
    border-right: 2px solid #b5b0b0;
    border-radius: 10px;
}

.user-detail p{
    position: absolute;
    left: 2%;
    bottom: 254px;
    background: white;
    padding: 0 4px;
}

.user-details{
    display: flex;
    justify-content: space-around;
    margin: 30px;
    padding: 35px;
}

.user-details i{
    position: relative;
    font-size: 85px;
    right: 70px; 
    top: 10px;                   
}

.user-details ul li{
    font-size: 18px;
    position: relative;
    margin: 2px;
    padding: 2px 20px;
    list-style: none;
    left: 40px;
}


/*Parte responsiva para Laptops*/
@media screen and (max-width:1400px){
    .caja{
        right: 60px;
        max-width: 500px;
    }

    .caja2{
        right: 60px;
        max-width: 500px;
    }

    .area label{
        left: 10px;
    }
    .area table{
        max-width: 525px;
    }

    .equipo{
        left: 0;
        right: 10px;
        max-width: 704px;
    }
    .equipo .area-equipos label{
        right: 270px !important;
    }

    .area-equipos table{
        max-width: 710px;
    }
    
    .area-equipos label{
        left: 19px;
    }
    .contenedor{

        margin-left: 10px;
    }

    .contenedor.cont-area{
        width: 200px;
        height: 120px;
    }

    .contenedor .periodo input {
        padding: 1px 4px;
        border-radius: 12px;
    }

    .agregar{
        margin-left: 310px;
    }

    
}

/*Parte responsiva para Tablets*/

@media screen and (max-width:1200px) {

    .section-prestamos{
        max-width: 1142px !important;
        margin: 20px !important;
        height: auto !important;
    }

    .caja{
        justify-content: center;
        right: 0;
        max-width: 600px;
        
    }

    .caja2{
        right: 0;
        max-width: 600px;
    }

    .area label{
        left: 20px;
    }
    .area table{
        width: 650px;
        max-width: 612px;
    }

    .row{

        /*flex-direction: column; para bajar una columna a modo vertical*/
        flex-direction: column;
    }

    .container{
      
      max-width: 630px !important;
    }

    .cabecera input{
        margin-right: 0px;
    }

    .prestamo-fil fieldset {
        width: 650px;
    }
    
    .prestamo-fil legend{
        width: 9% !important;
    }
    .prestamos-caja2 legend{
        width: 37.5%;
    }

    .prestamos-caja2 fieldset{
        width: 650px;
    }
    .equipo-prestamos{
        left: 0px;
    }
    .equipo{
        left: 0;
        max-width: 960px;
    }
    .equipo .area-equipos table{
        max-width: 740px;
    }
    .equipo .area-equipos label{
        right: 295px !important;
    }

    .buscar-equipos{
        position: relative;
        right: 100px;
    }
    .contenedor{
        max-width: 750px;
        margin-left: 30px !important;
    }

    .contenedor .cont-area textarea{
        margin-left: 0;
        margin-right: 10px;
    }

    .contenedor .periodos {
        max-width: 500px !important;
        margin-right:60px;
    }
    .contenedor .accesorios{
        margin-left: 0;
    }

    .periodos fieldset{
        width: 416px;
    }

    .contenedor .periodo input {
        padding: 1px 4px;
        border-radius: 12px;
    }

    .agregar{
        margin-left: 320px;
    }

    .periodos legend{
        width: 31%;
    }

    .fechas-prestamos input{
        padding: 3px 9px;
    }
    .buscadores-prestamos select{
        margin-left: 0;
    }

    .buscar-pres {
        margin-top: 12px;
        position: relative;
        right: 130px;
    }
}

/*Tablets mas pequeñas*/
@media screen and (max-width:992px) {

    .section-prestamos {
        max-width: 776px !important;
        margin: 20px !important;
        height: auto !important;
    }
    .equipo-prestamos fieldset {
        width: 650px !important;
    }
    .area-equipos table{
        max-width: 610px !important;
    }

    .area-equipos table th {
        background-color: rgb(110 187 231 / 58%);
        color: black;
        font-size: 14px !important;
        padding: 4px !important;
    }
.area-equipos table td{
    font-size: 13px;
}
    .area-equipos label {
         left: 20px; 
    }

    .area-equipos {
        padding-top: 50px;
    }
    .area label {
        left: 20px;
    }
    
    .equipo-prestamos legend {  
        width: 18.5%;
    }

    .contenedor {
        width: 700px !important;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 50px;
        align-items: center;
        margin-bottom: 1.5rem !important;
    }

    .contenedor .cont-area textarea {
        width: 400px;
        position: relative;
        right: 90px;
        margin-top: 0;
    }

    .contenedor .periodos {
        max-width: 400px !important;
        margin-top: 20px;
        padding-top: 10px;
        margin-right: 150px !important;
    }
    
    
}
